.Button {
    background-color: transparent;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgb(110, 110, 110);
    border: none;
    border-radius: 3px;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold; 
    font-family: 'Russo One', sans-serif;
}